.certificates {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 30px;
}

.certificates--title {
  font-family: var(--bebas);
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 35px;
}

.container--img {
  width: 100%;
  border-radius: 10px;
  margin-top: 30px;
}

@media (min-width: 768px) {
  .cert--container {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    gap: 20px;
  }

  .container--img {
    width: 300px;
    height: 250px;
  }
}
