/* Card style */

.work {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}

.bubble__project__container {
  position: absolute;
  z-index: -1;
}

.work__content {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.work__title {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.img {
  width: 60%;
  object-fit: cover;
  border-radius: 10px;
}

.work__description {
  display: flex;
  flex: 1;

  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
}

.work__paragraph {
  max-width: 31ch;
  color: #da5aa0;
}

.work__btn {
  margin-top: 20px;
}

aside img {
  width: 35px;
  height: 35px;
}

.work__icons {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  color: #da5aa0;
}
