.about__container {
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about--title {
  font-family: var(--bebas);
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 35px;
  color: white;
}

.about--text {
  color: white;
  font-size: 15px;
  font-family: var(--monst);
  font-weight: 200;
  text-align: center;
  margin: 20px;
}

@media (min-width: 768px) {
  .about--text {
    margin-left: 150px;
    margin-right: 150px;
  }
}
