@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap");

:root {
  --primary: #07010c;
  --secondary: #8669f1;
  --cards: #8769f12d;
  --card-bg: #8769f148;
  --text: #ffffff;
  --monst: "Montserrat", sans-serif;
  --bebas: "Bebas Neue", sans-serif;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background-color: var(--primary);
}

a {
  text-decoration: inherit;
}
